<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite seu email">
    <small *ngIf="registerForm.controls['email'].hasError('email')" class="form-text text-muted">Digite um email válido.</small>
    <small *ngIf="registerForm.controls['email'].hasError('required')" class="form-text text-muted">Campo obrigatório.</small>
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Digite uma senha">
    <small *ngIf="registerForm.controls['password'].hasError('minlength') || registerForm.controls['password'].hasError('required')" class="form-text text-muted">A senha deve ter no mínimo 8 caracteres.</small><br>
    <small *ngIf="registerForm.controls['password'].hasError('hasNumber') || registerForm.controls['password'].hasError('required')" class="form-text text-muted">A senha deve possuir ao menos um número.</small><br>
    <small *ngIf="registerForm.controls['password'].hasError('hasCapitalCase') || registerForm.controls['password'].hasError('required')" class="form-text text-muted">A senha deve possuir ao menos uma letra maiúscula.</small><br>
    <small *ngIf="registerForm.controls['password'].hasError('hasSmallCase') || registerForm.controls['password'].hasError('required')" class="form-text text-muted">A senha deve possuir ao menos uma letra minúscula.</small><br>
    <small *ngIf="registerForm.controls['password'].hasError('hasSpecialCharacters') || registerForm.controls['password'].hasError('required')" class="form-text text-muted">A senha deve possuir ao menos um caractere especial.</small><br>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirmar senha</label>
    <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirme a senha">
    <small *ngIf="registerForm.controls['confirmPassword'].hasError('NoPasswordMatch')" class="form-text text-muted">As senhas devem ser iguais.</small>
    <small *ngIf="registerForm.controls['confirmPassword'].hasError('required')" class="form-text text-muted">Campo obrigatório.</small>
  </div>

  <div class="form-group">
    <label for="firstName">Primeiro nome</label>
    <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Digite seu nome">
    <small *ngIf="registerForm.controls['firstName'].hasError('required')" class="form-text text-muted">Campo obrigatório.</small>
  </div>

  <div class="form-group">
    <label for="lastName">Sobrenome</label>
    <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Digite seu sobrenome">
    <small *ngIf="registerForm.controls['lastName'].hasError('required')" class="form-text text-muted">Campo obrigatório.</small>
  </div>

  <div class="form-group">
    <label for="grossIncome">Renda bruta</label>
    <input currencyMask formControlName="grossIncome" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" class="form-control" id="grossIncome" aria-describedby="grossIncomeHelp" placeholder="Digite sua renda bruta mensal">
    <small *ngIf="registerForm.controls['grossIncome'].hasError('hasNumber') || registerForm.controls['grossIncome'].invalid" class="form-text text-muted">O valor deve ser numérico.</small>
  </div>

  <button type="submit" class="btn btn-outline-secondary">Rigistrar</button>
</form>
