<div class="budget-card" [class]="'color--' + colorCard" *ngIf="budget">
  <div class="budget-card__icon">

  </div>
  <div class="budget-card__title">
    {{ budget.name }}
    <div class="budget-card__title--description">
      {{ budget.description }}
    </div>
  </div>
  <div class="budget-card__cash">
    <div class="budget-card__cash--icon">
      <i class="fi fi-rs-coins"></i>
    </div>
    <div class="budget-card__cash--cash">
      {{ budget.cash | currency:'BRL' }}
    </div>
  </div>

</div>
